p{
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
    margin: 0;
    text-align: center;
}

h1{
    font-family: 'Caveat', cursive;
    font-size: 50px;
    text-align: center;
}

body   {
    background-color: lightblue;
}

div.text_container{
    padding: 30px;
}

img.dad{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 150px;
    height: auto

}

#used{
    display: block;
}


@media screen and (max-width: 768px){
    p{
        font-size: 15px;
    }

    img.dad{
        left: -40px;
    }

}

@media screen and (max-width: 992px){
    p{
        font-size: 23px;
    }

}

