p{
    font-family: 'Amatic SC', cursive;
    font-size: 2.5rem;
    margin: 0;
    text-align: center;
}

h1, h3{
    font-family: 'Caveat', cursive;
    font-size: 8rem;
    text-align: center;
}

h2{
    font-family: 'Caveat', cursive;
    font-weight: bold;
    color: red;
    background-color: white;
    text-align: center;
}

h3{
    font-size: 30p;
    color: brown;
}


h4{
    font-family: 'Amatic SC', cursive;
    font-size: 50px;
    color: black;
}


body   {
    background-color: lightblue;
}

div.text_container{
    padding: 30px;
}

img.dad{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 150px;
    margin: 0 auto;

}

img.headline{
    width: 650px;
    height: 288px;
}

img.burns{
    width: 220px;
    height: 220px;
}

#used{
    display: block;
}

div.message{
    position: fixed;
    margin-top: 50%;
    background-color: rgb(247, 194, 101);
    border: black solid 4px;
    width: 100%;
    z-index: 1;
}


@media screen and (max-width: 768px){
    h1{
        font-size: 60px;
    }

    h4{
        font-size:  30px;
    }
    
    p{
        font-size: 25px;
    }

    img.dad{
        max-width: 90px;
        max-height: 90px;
    }

    img.headline{
        width: auto;
        height: auto;
    }

    img.burns{
        width: 100px;
        height: 100px;
    }
}

@media screen and (max-width: 992px){
    p{
        font-size: 30px;
    }

    h4{
        font-size: 35px;
    }
    img.headline{
        width: auto;
        height: auto;
    }

    img.burns{
        width: auto;
        height: auto;
    }
}

